@using TkbThucHanhCNTT.Models
@{
    ViewBag.Title = "Index";
}
<div id="myGridView">
    @(Html.Kendo().Grid<TuanHoc>()
          .Name("GridView")
          .Columns(columns =>
          {
              columns.Bound(c => c.SttTuan);
              columns.Bound(c => c.NgayBatDau).Format("{0:dd/MM/yyyy}");
              columns.Bound(c => c.NgayKetThuc).Format("{0:dd/MM/yyyy}");
              columns.Bound(c => c.DaLayThongTin).ClientTemplate("<input type='checkbox' id='DaLayThongTin' name='DaLayThongTin' disabled #if(DaLayThongTin){#checked#}# value='#=DaLayThongTin#' />");
              columns.Bound(c => c.DaXepLichThucHanh).ClientTemplate("<input type='checkbox' id='DaXepLichThucHanh' name='DaXepLichThucHanh' disabled #if(DaXepLichThucHanh){#checked#}# value='#=DaLayThongTin#' />");
          }).ToolBar(toolBar =>
          {
              toolBar.Template(@<text>
                                    <a id='btnCreate' class='k-button k-button-icontext' href='#'><span class='k-icon k-add'></span>Khởi tạo danh sách tuần</a>
                                    <a id='clearAllWeek' class='k-button k-button-icontext' href='#'><span class='k-icon k-delete'></span>Xóa hết các tuần</a>
                                    @item.SaveButton("Lưu lại","Hủy bỏ")
                                </text>);
          })
          .Editable(e => e.Mode(GridEditMode.InCell))
          .Sortable()
          .Pageable(pageable =>
          {
              pageable.Refresh(true);
              pageable.PageSizes(true);
          })
          .Selectable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .Batch(true)
              .PageSize(60)
              .Events(events => events.Error("error_handler"))
              .Read(read => read.Action("AjaxReadData", "TuanHoc"))
              .Update(update => update.Action("Ajax_Update", "TuanHoc"))
              .Model(model =>
              {
                  model.Id(gv => gv.SttTuan);
                  model.Field(gv => gv.SttTuan).Editable(false);
                  model.Field(gv => gv.NgayBatDau).Editable(false);
                  model.Field(gv => gv.NgayKetThuc).Editable(false);
              })
          )
          )
</div>
@{
    DateTime now = DateTime.Now;
    int currWeek = (int) (now - (new DateTime(now.Month <= 8 ? now.Year - 1 : now.Year, 8, 1))).TotalDays/7;
}
@(Html.Kendo().Window()
      .Name("window")
      .Title("Khởi tạo lại danh sách các tuần")
      .Content(@<text>
                    <table cellpadding="5">
                        <tr>
                            <td>
                                @(Html.Label("ChonTuan", "Chọn tuần đã biết", new {@class = "float-left"}))
                            </td>
                            <td>
                                @(Html.Kendo().NumericTextBox<decimal>()
                                      .Name("ChonTuan")
                                      .Min(1)
                                      .Max(50)
                                      .Format("N0")
                                      .Value(currWeek)
                                      .HtmlAttributes(new {@class = "float-right"})
                                      )
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @(Html.Label("NgayTrongTuan", "Chọn ngày trong tuần ấy", new {@class = "float-left"}))
                            </td>
                            <td>
                                @(Html.Kendo().DatePicker().Name("NgayTrongTuan")
                                      .Format("dd/MM/yyyy")
                                      .Value(now)
                                      .HtmlAttributes(new {@class = "float-right"})
                                      )
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span style="color: red; font-style: italic; text-align: center;">Lưu ý: các tuần hiện
                                    có sẽ bị xóa hết khi thực hiện thao tác này</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <a class="k-button k-button-icontext " href="#" onclick=" return AjaxInit() "><span
                                                                                                                  class="k-icon k-update"></span>Cập nhật</a> <a class="k-button k-button-icontext"
                                                                                                                                                                 href="#" onclick=" return closeDialog() "><span class="k-icon k-cancel"></span>Hủy
                                                                                                                                                                  bỏ</a>
                            </td>
                        </tr>
                    </table>
                </text>)
      .Draggable()
      .Actions(actions => actions.Close())
      .Events(ev => ev.Close("onClose"))
      .Visible(false)
      .AutoFocus(true)
      .Modal(true)
      )

@(Html.Kendo().Notification()
      .Name("popupNotification"))

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Lỗi:\n";
            $.each(e.errors, function(key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function ShowNotification(message, type) {
        var popupNotification = $("#popupNotification").data("kendoNotification");
        popupNotification.show(message, type);
    }

    function onClose() {
        $("#btnCreate").fadeIn(300);

    }

    function closeDialog() {
        $("#window").data("kendoWindow").close();
        $("#btnCreate").fadeIn(300);
    }

    function refreshData() {
        $('#GridView').data('kendoGrid').dataSource.read();
        $('#GridView').data('kendoGrid').refresh();
    }

//    function OpenDialog() {
//        $("#window").data("kendoWindow").center().open();
//        $("#btnCreate").fadeOut(300);
//    }

    $('#btnCreate').bind("click", function() {
        $("#window").data("kendoWindow").center().open();
        $("#btnCreate").fadeOut(300);
    });

    $('#clearAllWeek').bind("click", function() {
        var r = confirm("Bạn muốn xóa hết dữ liệu của các tuần học?");
        if (r == true) {
            $.post("@Url.Action("AjaxClearWeek", "TuanHoc")")
                .done(function(data) {
                    if (data.Result == "OK") {
                        //closeDialog();
                        ShowNotification("Xóa thành công", "info");
                        refreshData();

                    } else
                        ShowNotification(data.Message, "error");
                });
        }

    });


    function AjaxInit() {
        var week = $("#ChonTuan").data('kendoNumericTextBox').value();
        var val = $("#NgayTrongTuan").data('kendoDatePicker').value();
        var date = kendo.toString(val, "dd/MM/yyyy");

        $.post("@Url.Action("AjaxInitWeek", "TuanHoc")", { week: week, dateOfWeek: date })
            .done(function(data) {
                if (data.Result == "OK") {
                    closeDialog();
                    ShowNotification("Khởi tạo thành công", "info");
                    refreshData();
                } else
                    ShowNotification(data.Message, "error");
            });
    }
</script>