@using TKBThucHanh.Models
@model IEnumerable<TKBThucHanh.Models.TuanHoc>
@{
    ViewBag.Title = "Tuần học";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Thêm tuần mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SttTuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaLayThongTin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaXepLichThucHanh)
        </th>
    </tr>

    @foreach (TuanHoc item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SttTuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaLayThongTin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaXepLichThucHanh)
            </td>
            <td>
                @Html.ActionLink("Sửa thông tin", "Edit", new { id = item.TuanHocId }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.TuanHocId })
            </td>
        </tr>
    }

</table>

@section modal
{
  @*//  @Html.RenderPartial("_Model", null)*@
}