@using MvcPaging
@model IPagedList<TKBThucHanh.Models.GiangVien>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                MaGv
            </th>
            <th>
                HoVaTen
            </th>
            <th>
                ChuyenNganh
            </th>
            <th>
                CoThePhanCong
            </th>
            <th>
                LichCongTac
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaGv
                </td>
                <td>
                    @item.HoVaTen
                </td>
                <td>
                    @item.ChuyenNganh
                </td>
                <td>
                  @Html.CheckBox("Check", @item.CoThePhanCong, new { @disabled = "disabled" })
                </td>
                <td>
                    @item.ChuyenNganh
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Xem", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Xóa", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pager">
    @Html.Raw(Html.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts { Next = "Next", Previous = "Previous" },
                ItemIcon = new ItemIcon { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                IsShowPages = true
            }, new { tengiangvien = ViewData["tengiangvien"] }))
</div>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
