@using MvcPaging
@model IPagedList<TKBThucHanh.Models.GiangVien>
@{
    ViewBag.Title = "MVC 4 Paging Without Ajax Bootstrap";
}
<div>
    @Html.ActionLink("Trở về trang danh sách Lịch công tác", "Index")
</div>
<div class="clearfix">
</div>
@using (Html.BeginForm("Paging", "GiangVien", FormMethod.Get))
{
    <div class="input-append">
        <input class="span2" id="appendedInputButton" type="text" name="tengiangvien" placeholder="Name" value="@ViewData["tengiangvien"]" />
        <button class="btn" type="submit">
            <i class="icon-search"></i>&nbsp;Search
        </button>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model =>model.First().MaGv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().HoVaTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ChuyenNganh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CoThePhanCong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().LichCongTac)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.MaGv
                    </td>
                    <td>
                        @item.HoVaTen
                    </td>
                    <td>
                        @item.ChuyenNganh
                    </td>
                    <td>
                        @item.CoThePhanCong
                    </td>
                    <td>
                        @item.LichCongTac
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pager">
        @Html.Raw(Html.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                IsShowPages = true
            }, new { tengiangvien = ViewData["tengiangvien"] }))
    </div>
}