@model TKBThucHanh.Models.PhongThucHanh

@{
    ViewBag.Title = "Phòng thực hành";
    ViewBag.PageSubTitle = "Sửa phòng thực hành";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "PhongHoc", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.TenPhong, new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.TextBoxFor(model => model.TenPhong, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenPhong)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="submit" value="Thêm mới phòng" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở về trang danh sách Phòng thực hành", "Index")
</div>

@*@section Scripts {*@
@*    @Scripts.Render("~/bundles/jqueryval")*@
@*}*@
