@model IEnumerable<TKBThucHanh.Models.PhongThucHanh>

@{
    ViewBag.Title = "Phòng thực hành";
    ViewBag.PageSubTitle = "Danh sách phòng thực hành";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<p>
    @Html.ActionLink("Thêm phòng", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
     Tên phòng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhong)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.TenPhong }) |
                @Html.ActionLink("Xem", "Details", new { id = item.TenPhong }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.TenPhong })
            </td>
        </tr>
    }

</table>
