@model TkbThucHanhCNTT.Models.LocalPasswordModel

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "../Shared/_Layout.cshtml";

}

@using (Html.BeginForm("DoiMatKhau", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(null, new {@class = "text-danger"})
    @Html.AntiForgeryToken()

    <fieldset>

        <legend>Đổi mật khẩu</legend>
        <p class="message-success info">@ViewBag.StatusMessage</p>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Value = @ViewBag.email })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Mật khẩu cũ" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-2 control-label"})
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Mật khẩu mới" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 control-label"})
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Nhập lại mật khẩu mới" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Đổi mật khẩu</button>
            </div>
        </div>
    </fieldset>
}