<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

                <p><label style="color:white;" for="email">E-mail address</label></p>
                <p><input type="email" id="email" value=""></p> 

                <p><label style="color:white; font" for="password">Password</label></p>
                <p><input type="password" id="password" value=""></p> 

                <p><input type="submit" value="Sign In"></p>

            </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}


<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
