@model TkbThucHanhCNTT.Models.LocalPasswordModel
@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        
        <div class="control-group">
            <label class="control-label" for="inputEmail">FirstName</label>
            <div class="controls">
                <input type="text" id="inputEmail" placeholder="FirstName" required>
            </div>
        </div>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}