@model TkbThucHanh.Models.LoginModel
<div class="accountHeader">
    <h2>
        Đăng nhập</h2>
    <p>
        Vui lòng nhập tên đăng nhập và mật khẩu. @Html.ActionLink("Tạo tài khoản", "Register")
        nếu bạn chưa có tài khoản.</p>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.DevExpress().Label(settings =>
    {
        settings.Name = "UserNameLabel";
        settings.Text = "Tên đăng nhập";
        settings.AssociatedControlName = "UserName";
    }).GetHtml()

    <div class="form-field">
        @Html.EditorFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    @Html.DevExpress().Label(settings =>
    {
        settings.Name = "PasswordLabel";
        settings.Text = "Mật khẩu";
        settings.AssociatedControlName = "Password";
    }).GetHtml()
    <div class="form-field">
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-field">
        @Html.DevExpress().CheckBox(settings =>
        {
            settings.Name = "RememberMe";
            settings.Text = "Ghi nhớ?";
        }).GetHtml()
    </div>

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "Button";
        settings.Text = "Đăng nhập";
        settings.UseSubmitBehavior = true;
    }).GetHtml()
}