@using TKBThucHanh.Models.Enums
@using TKBThucHanh.Views
@model IEnumerable<TKBThucHanh.Models.GiangVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm giáo viên", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaGv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoVaTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTaiKhoanDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuyenNganh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaGv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoVaTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoanDangNhap)
        </td>
        <td>
            @Html.DisplayEnumFor(modelItem => item.ChuyenNganh)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.GiangVienId }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.GiangVienId })
        </td>
    </tr>
}

</table>
