@model IEnumerable<TKBThucHanh.Models.GiangVien>

@{
    ViewBag.Title = "Giảng viên";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Thêm mới")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoVaTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuyenNganh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoThePhanCong)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuyenNganh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoThePhanCong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Sửa", new { id = item.MaGiangVien }) |
            @Html.ActionLink("Delete", "Xóa", new { id = item.MaGiangVien })
            </td>
        </tr>
    }

</table>
