<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@this.ViewBag.Title - Chương trình quản lý thực hành của khoa công nghệ thông
        tin</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @* @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <!--This bundle was moved by the Kendo UI VS Extensions for compatibility reasons-->
    @Scripts.Render("~/bundles/jquery")
    <!--This CSS entry was added by the Kendo UI VS Extensions for compatibility reasons-->
    <link href="@this.Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
    <link href="@this.Url.Content("~/Content/kendo/2014.1.318/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@this.Url.Content("~/Content/kendo/2014.1.318/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@this.Url.Content("~/Content/kendo/2014.1.318/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@this.Url.Content("~/Content/kendo/2014.1.318/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@this.Url.Content("~/Scripts/kendo/2014.1.318/jquery.min.js")"></script>
    <script src="@this.Url.Content("~/Scripts/kendo/2014.1.318/kendo.all.min.js")"></script>
    <script src="@this.Url.Content("~/Scripts/kendo/2014.1.318/kendo.aspnetmvc.min.js")"></script>
    <script src="@this.Url.Content("~/Scripts/kendo/2014.1.318/cultures/kendo.culture.vi-VN.min.js")"></script>
    <script src="@this.Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@this.Url.Content("~/Scripts/menuhover.js")"></script>
    <script>
        $(document).ready(function () {
            kendo.culture("vi-VN");
        });
    </script>
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="navbar">
            <div class="container-fluid expanded-panel">
                <div class="row">
                    <div id="logo" class="col-xs-12 col-sm-2">
                        <a href="/"></a>
                    </div>
                    <div id="top-panel" class="col-xs-12 col-sm-10">
                        <div class="row bannercolor">
                            <div class="col-xs-10 banner">
                                <a href="#" class="show-sidebar">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>
                            <div class="dropdown col-xs-2 top-panel-right">
                                @this.Html.Partial("_LoginPartial")
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </header>
    <!--End Header-->
    <!--Start Container-->
    <div id="main" class="container-fluid">
        <div class="row">
            <div id="sidebar-left" class="col-xs-2 col-sm-2 @HttpContext.Current.Request.RequestContext.RouteData.Values["Action"].ToString()" >
                <ul class="nav main-menu" id="@HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString()">
                    @if (User.IsInRole("Teacher") || User.IsInRole("AdminTeacher"))
                    {
                        <li>@this.Html.ActionLink("Lịch tổng quan", "LichThucHanhGV", "LichThucHanh", null, new { @id = "LichThucHanhGV" })</li>
                    }
                    @if (User.IsInRole("AdminTeacher"))
                    {
                        <li>@this.Html.ActionLink("Lịch thực hành", "Index", "LichThucHanh", null, new { @id = "Index" })</li>
                        <li>@this.Html.ActionLink("Phòng thực hành", "Index", "PhongThucHanh", null, new { @id = "PhongThucHanh" })</li>
                        <li>@this.Html.ActionLink("Thời khóa biểu GV", "Index", "TkbGiangVien", null, new { @id = "TkbGiangVien" })</li>
                        <li>@this.Html.ActionLink("Lịch bận giáo viên", "Index", "LichBan", null, new { @id = "LichBan" })</li>
                        <li>@this.Html.ActionLink("Lịch công tác", "Index", "LichCongTac", null, new { @id = "LichCongTac" })</li>
                        <li>@this.Html.ActionLink("Tuần học ", "Index", "TuanHoc", null, new { @id = "TuanHoc" })</li>
                        <li>@this.Html.ActionLink("Lớp", "Index", "Lop", null, new { @id = "Lop" })</li>
                        <li>@this.Html.ActionLink("Môn học", "Index", "MonHoc", null, new { @id = "MonHoc" })</li>
                        <li>@this.Html.ActionLink("Phân công giảng dạy", "Index", "PhanCongGiangDay", null, new { @id = "PhanCongGiangDay" })</li>
                        <li>@this.Html.ActionLink("Chấm công theo môn học", "Index", "ChamCong", null, new { @id = "ChamCong" })</li>
                        <li>@this.Html.ActionLink("Chấm công theo giảng viên", "ChamCongTheoGv", "ChamCong", null, new { @id = "ChamCongTheoGv" })</li>
                        <li>@this.Html.ActionLink("Giảng viên", "Index", "GiangVien", null, new { @id = "GiangVien" })</li>
                        <li>@this.Html.ActionLink("Tài khoản", "Index", "Account", null, new { @id = "Account" })</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@this.Html.ActionLink("Giảng viên", "Index", "GiangVien", null, new { @id = "GiangVien" })</li>
                        <li>@this.Html.ActionLink("Tài khoản", "Index", "Account", null, new { @id = "Account" })</li>
                    }
                </ul>
            </div>
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">
                @this.RenderBody()
            </div>
            <!--End Content-->
        </div>
    </div>
    @this.RenderSection("scripts", false)
    @this.Html.Partial("_LoadingDialog")
    @this.Html.Partial("_Notifications")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/devoops.js"></script>
</body>
</html>
