@using MvcPaging
@model IPagedList<TKBThucHanh.Models.LichCongTac>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().GiangVien.HoVaTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LyDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ThoiGianBd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ThoiGianKt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.GiangVien.HoVaTen
                </td>
                <td>
                    @item.LyDo
                </td>
                <td>
                    @item.ThoiGianBd
                </td>
                <td>
                    @item.ThoiGianKt
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = @item.LichCongTacId }) |
                    @Html.ActionLink("Xem", "Details", new { id = @item.LichCongTacId }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = @item.LichCongTacId })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pager">
    @Html.Raw(Html.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts { Next = "Next", Previous = "Previous" },
                ItemIcon = new ItemIcon { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                IsShowPages = true
            }, new { tengiangvien = ViewData["tengiangvien"] }))
</div>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
