@model TKBThucHanh.Models.LichCongTac

@{
    ViewBag.Title = "Lịch công tác";
    ViewBag.PageSubTitle = "Thông tin lịch công tác";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>LichCongTac</legend>
    
    <div class="form-group">
        @Html.LabelFor(model => model.LichCongTacId, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.LichCongTacId, new { @class = "form-control" ,@readonly=true})
            @Html.ValidationMessageFor(model => model.LichCongTacId)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.GiangVienId, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.DropDownList("GiangVienId", (IEnumerable<SelectListItem>)ViewBag.GiangVienId, new { @class = "form-control", @Enabled=false })
            @Html.ValidationMessageFor(model => model.GiangVienId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LyDo, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.LyDo, new { @class = "form-control", @readonly = true })
            @Html.ValidationMessageFor(model => model.LyDo)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThoiGianBd, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.ThoiGianBd, new { @class = "form-control", @readonly = true })
            @Html.ValidationMessageFor(model => model.ThoiGianBd)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThoiGianKt, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.ThoiGianKt, new { @class = "form-control", @readonly = true })
            @Html.ValidationMessageFor(model => model.ThoiGianKt)
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa thông tin lich công tác", "Edit", new { /* id=Model.PrimaryKey */ }) 
    @Html.ActionLink("Trở về trang danh sách Lịch công tác", "Index")
</p>
