@model TKBThucHanh.Models.LichCongTac

@{
    ViewBag.Title = "Lịch công tác";
    ViewBag.PageSubTitle = "Sửa lịch công tác";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "LichCongTac", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.LichCongTacId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.TextBoxFor(model => model.LichCongTacId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LichCongTacId)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.GiangVienId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.DropDownList("GiangVienId", (IEnumerable<SelectListItem>)ViewBag.GiangVienId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GiangVienId)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.LyDo, new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.TextBoxFor(model => model.LyDo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LyDo)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ThoiGianBd, new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.TextBoxFor(model => model.ThoiGianBd, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ThoiGianBd)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ThoiGianKt, new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.TextBoxFor(model => model.ThoiGianKt, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ThoiGianKt)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="submit" value="Lưu thông tin công tác" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở về trang danh sách Lịch công tác", "Index")
</div>

@*@section Scripts {*@
@*    @Scripts.Render("~/bundles/jqueryval")*@
@*}*@
