
@model TkbThucHanh.Models.RegisterModel

<div class="accountHeader">
    <h2>
        Đăng ký</h2>
    <p>Nhập thông tin vào form dưới</p>
</div>

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    
    @Html.DevExpress().Label(settings =>
    {
        settings.Name = "UserNameLabel";
        settings.Text = "Tên đăng nhập";
        settings.AssociatedControlName = "UserName";
    }).GetHtml()
    <div class="form-field">
        @Html.EditorFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    @Html.DevExpress().Label(settings =>
    {
        settings.Name = "EmailLabel";
        settings.Text = "Địa chỉ Email";
        settings.AssociatedControlName = "Email";
    }).GetHtml()
    <div class="form-field">
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    @Html.DevExpress().Label(settings =>
    {
        settings.Name = "PasswordLabel";
        settings.Text = "Mật khẩu";
        settings.AssociatedControlName = "Password";
    }).GetHtml()
    <div class="form-field">
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    @Html.DevExpress().Label(settings =>
    {
        settings.Name = "ConfirmPasswordLabel";
        settings.Text = "Nhập lại mật khẩu";
        settings.AssociatedControlName = "ConfirmPassword";
    }).GetHtml()
    <div class="form-field">
        @Html.EditorFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "Button";
        settings.Text = "Đăng ký";
        settings.UseSubmitBehavior = true;
    }).GetHtml()
}