@model TKBThucHanh.Models.PhongThucHanh

@{
    ViewBag.Title = "Phòng thực hành";
    ViewBag.PageSubTitle = "Thông tin phòng thực hành";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<fieldset>
    <div class="form-group">
        @Html.LabelFor(model => model.TenPhong, new { @class = "control-label col-sm-2" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.TenPhong, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TenPhong)
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa thông tin Phòng thực hành", "Edit", new { id = Model.TenPhong }) |
    @Html.ActionLink("Trở về trang danh sách Phòng thực hành", "Index")
</p>
